@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: poppins, sans-serif;
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
  .dark {
    --background: #1e1e1e;
    --foreground: #ffffff;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
